:root {
    --rojo: #e13838;
    --Menu: #f5f5f5;
    --azul: #2a75cb;
    --verde: #22c656;
    --naranja: #f37f41;
    --amarillo: #fdb913;
    --blanco: #ffffff;
    --azulInput:#00b0d3;
    --bgModal: #ebebebb3;
}