:root {
    --rojo: #e13838;
    --Menu: #f5f5f5;
    --azul: #2a75cb;
    --verde: #22c656;
    --naranja: #f37f41;
    --amarillo: #fdb913;
    --blanco: #ffffff;
    --azulInput:#00b0d3;
    --bgModal: #ebebebb3;
    --resaltar: #d4d4d4;
    --bgAzul: #2a75cb99;
    --bgVerde: #22c65699;
    --bgRojo: #e1383899;
}