@import "colors.css";

.navbar {
    background-color: var(--Menu);
    height: 80px;
    box-shadow: 1px 2px 5px 1px rgb(0, 0, 0, 0.2);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 4;
}
  
  .menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
    color: #000000;
  }
  
  .nav-menu {
    background-color: var(--Menu);
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 34;
    box-shadow: 1px 2px 5px 1px rgb(0,0,0,0.2);

  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    margin: 5px 0px 0px 0px;
    list-style: none;
    height: 70px;
  }
  
  .nav-text a {
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 4px;
    color: #000000;
    margin: 0px 0px 0px -20px;
  }
  
  .nav-text a:hover {
    background-color: var(--amarillo);
    color: var(--rojo);
  }
  
  .nav-menu-items {
    width: 100%;
  }

  .logoSB{
    width: 100px;
    height: 60px;
    margin: 0px 0px 0px 30px;
  }

  .logoMB{
    width: 120px;
    height: 70px;
    margin: 0px 0px 0px 30px;
  }
  
  .navbar-toggle {
    background-color: var(--Menu);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px 0px 0px -2rem;
  }
  
  span {
    margin-left: 20px;
  }

  .btnCloseSesion{
    border: none;
    padding: 10px;
    background-color: var(--rojo);
    margin: 0px 10px 0px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0,0.2);
    color: var(--Menu);
  }