.wrapperL{
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--rojo);
}

.windowL{
    position: fixed;
    align-content: center;
    z-index: 1;
    width: 35%;
    height: auto;
    max-width: 1200px;
    top: 50%;
    left: 47%;
    transform: translate(-40%, -50%);
    border-radius: 10px;
    padding: 40px 32px;
    background: var(--blanco);
    box-shadow: 5px 5px 10px 3px rgb(0,0,0,0.2);
}
.titleL{
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin: 0px 0px 0px 0px;
}
.subTitleL{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}
.windowL hr{
    width: 100%;
    border: 2px solid #FF0000;
    box-shadow: .5px .5px .5px 1px rgb(255,0,0);
    z-index: 1;
}

/*Estilos del formulario, inputs y botones dentro de el*/
.formularioL{
}
.formularioL p{
    font-size: 22px;
    margin: 40px 0px 5px 0px;
    font-weight: bold;
}
.formularioL input{
    width: 100%;
    border: none;
    border: 2px solid var(--azulInput);
    height: 45px;
    font-size: 20px;
}
.aceptBtnL{
    position: relative;
    font-size: 24px;
    top: 20px;
    border-radius: 5px;
    padding: 15px 50px;
    background-color: var(--verde);
    border: none;
    margin: 10px 0px 0px 0px;
    color: #ffffff;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0,0.2);
}
img{
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 200px;
    width: 350px;
}