@import "colors.css";

.searchInputs{
  margin-top: 105px;
  display: flex;
  position: fixed;
  align-content: center;
  top: 10%;
  left: 10%;
  box-shadow: 1px 1px 2px 2px rgb(0,0,0,.2);
  width: 80%;
  border-radius: 5px;
  padding: 10px;

}
  
  .search input{
    background-color:var(--blanco);
    border: none;
    border-bottom: 2px solid var(--azulInput);
    font-size: 24px;
    padding: 0px 0px 0px 15px;
    height: 60px;
    width: 100%;
  }
  
  .searchIcon{
    background-color: var(--verde);
    display:grid;
    place-items: center;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px;
    width: 8%;
    border: none;
    border-radius: 5px;
  }
  /* .searchIcon:hover{
    background-color: rgb(253, 185, 19);
  } */
  input:focus {
      border: 1px solid var(--azul);
    }

  .dataResult{
    top: 35%;
    left: 10%;
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,.2);
    width: 80%;
    border-radius: 5px;
    position: fixed;
    background-color: var(--blanco);
    max-height: 420px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar{
    display:none;
  }
  
  .dataResult .dataItem{
    width: auto;
    height: 60px;
    display:flex;
    color:black;
  }

  .id{
    width: 30%;
  }
  .name{
    width: 50%;
  }
  .btn{
    width: 20%;
  }

  .dataItem table{
    border-spacing: 5px 0px;
    border-collapse: separate;
    width: 100%;
  }

  .dataItem td{
  }

  .dataItem:hover{
    background-color: var(--resaltar);
  }
  
  #clearBtn{
    cursor:pointer;
    background-color: var(--rojo);
    width: 100%;
  }
  
  
  
  