#container {
    margin: 0px 0px 0px 0px;
    width: 100%;
    padding: 5px 10px 0px 10px;
    position: center;
    z-index: -1;
}

#cont_tabla{
    padding: 5px 5px 5px 5px;
    background-color: var(--blanco);
    /*box-shadow: 1px 1px 5px 1px rgb(0,0,0,0.2);*/
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    z-index: -1;
}
#cont_tabla .titleT{
    font-size: 28px;
    margin: 10px 0px 0px 0px;
    font-weight: bold;
}

#cont_tabla hr{
    width: 100%;
    border: 2px solid #FF0000;
    box-shadow: .5px .5px .5px 1px rgb(255,0,0);
    z-index: -1;
}

.TableBody{
    vertical-align: middle;
    background-color: var(--blanco);
    border-bottom: #a1a1a1;
    padding: 0px 5px;
    z-index: 1;
}

.TableHead{
    text-align:left;
    padding: 0px 50px;
    font-size: 17px;
    vertical-align: middle;
    color: var(--azul);
    height: 50px;
    z-index: 1;
}

.btnDownload{
    border-radius: 5px;
    padding: 4px 0px;
    width: 100px !important;
    background-color: var(--bgAzulInput);
    border: none;
    margin: 0px 0px 0px 0px;
    float: right;
}
.searchBarTable{
    width: 500px;
    height: 40px;
}