#container{
    margin: 0px 50px 0px 0px;
    width: 90%;
    padding: -10px;
    float: right;
}

#cont_tabla{
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    box-shadow: 3px 3px 10px 2px rgb(0,0,0,0.2);
    border-radius: 10px;
    margin: 20px 0px 0px 0px;
}
#cont_tabla .title{
    font-size: 28px;
    margin: 10px 0px 5px 0px;
    font-weight: bold;
}

.TableBody{
    vertical-align: middle;
    background-color: #ffffff;
    border-bottom: #a1a1a1;
    padding: 0px 5px;
}

.TableHead{
    text-align:left;
    padding: 0px 50px;
    font-size: 17px;
    vertical-align: middle;
    color: #003bb9;
    height: 50px;
}
.btnLimpiar{
}