.App {
  /* text-align: left; */
  margin: 0px 0px 0px 0px;
  background-color: #f1f1f1;
}

#prueba{
  margin: 0px 50px 0px 0px;
  width: 90%;
  padding: 0px 0px;
  float: right;
}

#cont_tabla{
  padding: 0px 0px 10px 0px;
  background-color: #fff;
}

.pruebaBody{
  vertical-align: middle;
  background-color: #fcfcfc;
  border-bottom: #a1a1a1;
  padding: 0px 5px;
}

.pruebaHead{
  text-align: center;
  padding: 0px 50px;
  font-size: 18px;
  vertical-align: middle;
  background-color: #6c7ae0;
  color:white;
}

.pruebaWrapper{
  box-shadow: 1px #303E9F;
}